.filters
  display inline-grid
  grid-template-columns repeat(2, 1fr)
  grid-template-rows repeat(4, 1fr)

.filter
  align-content center
  display inline-grid
  grid-template-columns repeat(2, auto)
  justify-content center

  &__label
    cursor pointer
    width 130px