@import url('https://fonts.googleapis.com/css?family=Lato')
@import url('https://fonts.googleapis.com/css?family=Varela+Round')

@keyframes fadeIn
  from
    opacity 0

*
  box-sizing border-box

html
body
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  color #2c3e50
  font-family 'Lato', Helvetica, Arial, sans-serif
  text-align center

button
  border-radius 4px
  cursor pointer
  display inline-block
  font-size 1rem
  justify-self center
  padding 4px 12px

.keys
  align-items flex-end
  display flex
  flex-wrap wrap
  justify-content center
  margin 30px auto
  min-height 270px
  width 90vw

  &__backlog
    display flex
    flex-direction row
    flex-wrap wrap
    justify-content center
    width 100%

.socials
  margin-top 20px