@import url('https://fonts.googleapis.com/css?family=Lato')
@import url('https://fonts.googleapis.com/css?family=Varela+Round')

*
  box-sizing border-box

html
body
  font-family 'Lato', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-align center
  color #2c3e50

button
  border-radius 4px
  cursor pointer
  font-size 1rem
  display inline-block
  padding 4px 12px
  justify-self center